body {
  font-family: Arial, sans-serif;
  background-color: #a1e7e4;
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 1rem;
}

header h1 {
  color: #002147;
}

.uploader {
  margin-top: 1rem;
}
